div{
    display: grid;
    
}




*{
    padding: 10px;
    margin: 5px;
    /* transition-duration: 1.2s; */
    /* flex-wrap: wrap;
    column-width: 7px;
     */
    width: 100%;
    text-align: center;
}